<!DOCTYPE html>
<html>
<head>
	<title>auth page</title>
</head>
<body>
<h1>Welcome to the Mighty Page , This Page Is Authenticated</h1>
   
<form method="POST" action='/logout' >
      <button >logout</button>
</form>


</body>
</html>





