<!DOCTYPE html>
<html>
<head>
	<title>login</title>
</head>
<body>
<h1>Login Form</h1>
<h2>Fill this Form with valid E-mail and Password</h2>

<form action="/check" method="POST">
      <label>E-mail</label>
        <input type="text" placeholder="Name" name="email" id="loginInput">

      <br>
      <br>
    
        <label>Password</label>
        <input type="password" placeholder="loginPassword" name="password">

      <br>
      <br>

      <label>Gender</label>
      <select id="gender" name="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other gender">Other gender</option>
      </select>
          <br>
          <br>
        <button type="submit" id="login-submit">Submit</button>
    
    </form>
    


</body>
</html>





